{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'img/AIConsultantBlackSmall.png' %}" alt="Logo">
            <h1>Login</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>	&nbsp;Register your account ? <a href="{% url 'register' %}"> Go here</a>.</p>
    </div>
</body>
</html>
