{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'img/AIConsultantBlackSmall.png' %}" alt="Logo">
            <h1>Register</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
        <p>	&nbsp; Already have an account? <a href="{% url 'login' %}">Login here</a>.</p>
    </div>
</body>
</html>
