@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #E0E5EC;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 600px;
    background: #E0E5EC;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
    padding: 20px;
    margin: 20px;
}

.header {
    text-align: center;
    padding: 20px;
}

.header img {
    width: 70px;
    height: auto;
}

.header h1 {
    font-weight: 700;
    color: #333;
}

.success {
    background-color: #ebfbee;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(0, 128, 0, 0.1),
                -2px -2px 5px rgba(0, 128, 0, 0.1);
}

.success h3 {
    color: #008000;
    font-weight: 500;
}

.success ul {
    list-style: none;
    padding: 0;
    color: #008000;
}

.error {
    background-color: #fdecea;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 5px rgba(128, 0, 0, 0.1),
                -2px -2px 5px rgba(128, 0, 0, 0.1);
}

.error h3 {
    color: #800000;
    font-weight: 500;
}
